.section {
    padding-top: 48px;
    padding-bottom: 42px;

    @media (min-width: 1200px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.section__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 35px;
    text-align: center;

    @media (min-width: 1200px) {
        margin-bottom: 48px;
        font-size: 50px;
        text-align: left;
    }
}

@import "page-head/page-head";
@import "page-body/page-body";
@import "hero/hero";
@import "benefit/benefit";
@import "steps/steps";
@import "vocations/vocations";
@import "handbook/handbook";
@import "blog/blog";
@import "about/about";
@import "post/post";
@import "similar-posts/similar-posts";
@import "contacts/contacts";
