$primary: #1C597B;
$primary-ts: #B7C8D2;
$primary-alt: #EDBECE;
$primary-alt-op: rgba(237, 190, 206, 0.5);
$black: #303030;
$black-ts: #3F3F3F;
$white: #FFFFFF;
$white-ts: #F0F4F6;
$white-op: rgba(255, 255, 255, 0.8);
$grey: #D9D9D9;
$grey-d: #999999;
$grey-ts: #CECECE;
$grey-s: #F0F4F6;
